/* Media query for larger screens */
@media (min-width: 640px) {
  /* Header layout */
  header {
    justify-content: space-between;
  }
  .about-student {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
  }
  .about, .student-photo{
    flex: 1;
  }

  header span {
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  #menu {
    display: none; /* hide hamburger on large screens */
  }
  nav ul {
    display: flex !important; /* always visible */
    flex-direction:column;
    justify-content: center;
  }

  nav li a {
    padding: 0.75rem 1.2rem;
  }

  /* Course cards: more columns */
  #course-cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  main {
    max-width: 1200px;
    margin: auto;
  }
}
.about h2{
  background-color:blue;
  color: white;
  text-align: center;
  border-radius: 8px;
}

.student-photo h2{
  background-color:blue;
  color: white;
  text-align: center;
  border-radius: 8px;
}

#head{
  justify-content:  left;
  background-color:blue;
}

header h1{
  text-align: left;
  color: white;
  margin: 0px;
  padding-left: 50px;
}